
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1541594314809'); /* IE9*/
  src: url('../font/iconfont.eot?t=1541594314809#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.ttf?t=1541594314809') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1541594314809#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontcheck:before { content: "\e61c"; }

.icon-zhanshiwenzhang:before { content: "\e607"; }

.icon-dianhua:before { content: "\e7b5"; }

.icon-shengyin:before { content: "\e64c"; }

.icon-star:before { content: "\e676"; }

.icon-jia:before { content: "\e61a"; }

.icon-gouwuche:before { content: "\e656"; }

.icon-dizhi:before { content: "\e615"; }

.icon-wo10:before { content: "\e640"; }

.icon-ai45:before { content: "\e6a3"; }

.icon-jian:before { content: "\e74b"; }

.icon-caipin-:before { content: "\e601"; }

.icon-weizhi:before { content: "\e61b"; }

.icon-shouji:before { content: "\e624"; }

.icon-shijian:before { content: "\e618"; }

.icon-xiaolian:before { content: "\e61d"; }

.icon-rili:before { content: "\e602"; }

.icon-xiangshang:before { content: "\e6ca"; }

.icon-xiangxia:before { content: "\e6cb"; }

.icon-xiangzuo:before { content: "\e64f"; }

.icon-xiangxia1:before { content: "\e616"; }

.icon-dangqian:before { content: "\e64a"; }

.icon-jiahao:before { content: "\e626"; }

.icon-xiangshang1:before { content: "\e600"; }

.icon-xuesheng:before { content: "\e61e"; }

.icon-fangzidichan:before { content: "\e627"; }

.icon-ai45:before { content: "\e6a3"; }
