// 基础色
$black: #000;
$white: #fff;
$red: #f44;
$green: #06bf04;
$green-wx: #4b0;
$gray: #c9c9c9;
$gray-light: #e5e5e5;
$gray-darker: #666;
$gray-dark: #999;
$yellow: #ffac3f;
$orange: #ff7422;
$blue: #38f;
$ccc: #ccc;

// 背景色
$color-background : #f5f5f5;
$color-background-base : #fff;

$gray: #c9c9c9;
$gray-light: #e5e5e5;
$gray-darker: #666;

// 主色，链接颜色
$color-theme : #4496f9;
$color-price : #db1b1b;
// 链接触发色
$color-link-active : #3287f1;
// 按钮色
$color-btn : #ff7422;
// 按钮触发色
$color-btn-active : #f36a1a;

// 重要文字，标题
$color-text-3 : #333;
// 次要文字，正文
$color-text-6 : #666;
// 弱文字，说明文案
$color-text-9 : #999;
// 极弱文章，输入框的默认文字
$color-text-c : #ccc; 

// 边框，整体框架色
$color-border-e : #eee; 
// 按钮边框色
$color-border-d : #ddd;
// 输入框 
$color-border-c : #ccc; 

// 辅助色，提示，价格
$color-danger : #db1b1b;
$color-Warning : #F7BA2A;
$color-success : #13CE66;

//字体
$font-size-small-x : 10px;
$font-size-small : 12px;
$font-size-mid : 14px;
$font-size-mid-l : 16px;
$font-size-large : 18px;
$font-size-large-ls : 20px;
$font-size-large-l : 22px;
$font-size-large-lm : 24px;
$font-size-large-lx : 30px;
$font-size-max : 32px;

// 模块分割高度
$gutter : .1rem;
$gutter-l : .16rem;

$headrHeight: .86rem;
